
@{
    ViewData["Title"] = "Chọn Lịch Chiếu";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/SelectShowtimes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div class="movie-selection">
        <div class="movie-part">

                <div class="movie-head">
                    <a href="#" class="movie-image">
                        <img src="@ViewBag.SelectShowtimesInfo.MovieImage" class="movie-img">
                    </a>
                    <div class="movie-info">
                        <p class="movie-name">@ViewBag.SelectShowtimesInfo.MovieName</p>
                        <p class="movie-description">@ViewBag.SelectShowtimesInfo.Content</p>
                        <div class="movie-detail">
                            <p class="movie-director">Đạo diễn: @ViewBag.SelectShowtimesInfo.Director</p>
                            <p class="movie-actor">Diễn viên: @ViewBag.SelectShowtimesInfo.Actor</p>
                            <p class="movie-type">Thể loại: @ViewBag.SelectShowtimesInfo.Genre</p>
                            <p class="movie-showtimes">Khởi chiếu: @ViewBag.SelectShowtimesInfo.ReleaseDate | Thời lượng: @ViewBag.SelectShowtimesInfo.Duration</p>
                        </div>
                        <a asp-controller="Home" asp-action="Index" class="change-movie-link">
                            <button class="change-movie-btn">Chọn phim khác</button>
                        </a>
                    </div>
                </div> 
                <div class="date-selection">
                    <ul class="date-in-week">
                        @foreach (var date in ViewBag.SelectShowtimesInfo.ShowDates){
                            <li class="date"><button id="dateClick" class="date-link">@date</button></li>
                        }
                    </ul>
                </div>
                <div class="cinema-selection">
                    <div class="cinema-info">
                        <p class="cinema-name">Fast Ticket Phạm Ngọc Thạch</p>
                        <div class="time-selection">
                            <a asp-controller="Ticket" asp-action="SelectSeat" class="time">
                                <button class="time-btn">09:25 AM</button>
                            </a>
                            <a href="#" class="time">
                                <button class="time-btn">13:25 PM</button>
                            </a>
                        </div>
                    </div>
                    <div class="cinema-info">
                        <p class="cinema-name">Fast Ticket Royal City</p>
                        <div class="time-selection">
                            <a href="#" class="time">
                                <button class="time-btn">10:00 AM</button>
                            </a>
                            <a href="#" class="time">
                                <button class="time-btn">12:05 PM</button>
                            </a>
                        </div>
                    </div>
                    <div class="cinema-info">
                        <p class="cinema-name">Fast Ticket Aeon Mall Hà Đông</p>
                        <div class="time-selection">
                            <a href="#" class="time">
                                <button class="time-btn">10:00 AM</button>
                            </a>
                            <a href="#" class="time">
                                <button class="time-btn">17:00 PM</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/SelectShowtimes.js"></script>
    </body>

    </html>