@model IEnumerable<TICKETBOX.Models.Tables.Ticket>
@{
    ViewData["Title"] = "Vé";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="~/css/Ticket.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    @foreach (var ticket in Model)
    {
        <div class="ticket-container">
            <div class="ticket-info">
                <p class="ticket-title">@ticket.Showtime.Showdate.Movie.MovieName (@ticket.Showtime.Showdate.Movie.Label)
                </p>
                <p class="ticket-detail">@ticket.Showdate.Showdate1</p>
                <p class="ticket-detail">@ticket.Showtime.StartTime ~ @ticket.Showtime.EndTime</p>
                <p class="ticket-detail">@ticket.Showtime.Showdate.Room.Cinema.CinemaName</p>
                <p class="ticket-detail">Ghế @ticket.Price.Seat.SeatNumb</p>
                <p class="ticket-detail">@ticket.Showtime.Showdate.Room.RoomName</p>
                <p class="ticket-detail">Bắp nước: @ticket.Concession.ConcessionName</p>
                <p class="sum">Tổng Tiền: @ticket.TotalAmount VND</p>
            </div>
            <div class="movie-image">
                <img src="@ticket.Showtime.Showdate.Movie.MovieImage" class="movie-img">
            </div>
        </div>
    }
</body>

</html>